<nav class="col-md-2 d-none d-md-block bg-light sidebar"  *ngIf="isAuthenticated()">
    <div class="sidebar-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" routerLink="dashboard" routerLinkActive="active">
                    <i class="fas fa-home"></i>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="separation-application" routerLinkActive="active">
                    <i class="far fa-file"></i>
                    Separation Applications
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="employee" routerLinkActive="active">
                    <i class="far fa-user"></i>
                    Employees
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="asset" routerLinkActive="active">
                    <i class="fas fa-laptop"></i>
                    Assets
                </a>
            </li>
        </ul>

        <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
                <span>Administration</span>
            </h6>
            <ul class="nav flex-column mb-2">
                <li class="nav-item">
                    <a class="nav-link" routerLink="admin/user-management" routerLinkActive="active">
                        <i class="far fa-user"></i>
                        Users
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="department" routerLinkActive="active">
                        <i class="far fa-building"></i>
                        Departments
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="location" routerLinkActive="active">
                        <i class="fas fa-globe-americas"></i>
                        Location
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
