<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-department-heading">Create or edit a Department</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!department.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="department.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="department.name" required/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_head">Head</label>
                    <select class="form-control" id="field_head" name="head" [(ngModel)]="department.head">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employeeOption.id === department.head?.id ? department.head : employeeOption" *ngFor="let employeeOption of heads; trackBy: trackEmployeeById">{{employeeOption.user.firstName.concat(' ', employeeOption.user.lastName)}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_representative">Representative</label>
                    <select class="form-control" id="field_representative" name="representative" [(ngModel)]="department.representative">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employeeOption.id === department.representative?.id ? department.representative : employeeOption" *ngFor="let employeeOption of representatives; trackBy: trackEmployeeById">{{employeeOption.user.firstName.concat(' ', employeeOption.user.lastName)}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_location">Location</label>
                    <select class="form-control" id="field_location" name="location" [(ngModel)]="department.location">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="locationOption.id === department.location?.id ? department.location : locationOption" *ngFor="let locationOption of locations; trackBy: trackLocationById">{{locationOption.city.concat(', ', locationOption.state)}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
