<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="lineItem">
            <h2><span>Line Item</span> {{lineItem.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Feedback</span></dt>
                <dd>
                    <span>{{lineItem.feedback}}</span>
                </dd>
                <dt><span>Asset Owed</span></dt>
                <dd>
                    <div *ngIf="lineItem.assetOwed">
                        <a [routerLink]="['/asset', lineItem.assetOwed?.id, 'view']">{{lineItem.assetOwed?.name}}</a>
                    </div>
                </dd>
                <dt><span>Separation Application</span></dt>
                <dd>
                    <div *ngIf="lineItem.separationApplication">
                        <a [routerLink]="['/separation-application', lineItem.separationApplication?.id, 'view']">{{lineItem.separationApplication.employee.user.firstName.concat(' ', lineItem.separationApplication.employee.user.lastName)}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button *jhiHasAnyAuthority="'ROLE_FUNCTIONAL_REPRESENTATIVE'" type="button"
                    [routerLink]="['/line-item', lineItem.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
