<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="separationApplication">
            <h2><span>Separation Application</span> {{separationApplication.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Date Of Leaving</span></dt>
                <dd>
                    <span>{{separationApplication.dateOfLeaving}}</span>
                </dd>
                <dt><span>Date Of Submission</span></dt>
                <dd>
                    <span>{{separationApplication.dateOfSubmission}}</span>
                </dd>
                <dt><span>Reason For Leaving</span></dt>
                <dd>
                    <span>{{separationApplication.reasonForLeaving}}</span>
                </dd>
                <dt><span>Completed</span></dt>
                <dd>
                    <span>{{separationApplication.completed}}</span>
                </dd>
                <dt><span>Line Item(s)</span></dt>
                <dd>
                    <div *ngFor="let lineItem of separationApplication.lineItems">
                        <a [routerLink]="['/line-item', lineItem?.id, 'view']">{{lineItem?.assetOwed.name}}</a>
                    </div>
                </dd>
                <dt><span>Employee</span></dt>
                <dd>
                    <div *ngIf="separationApplication.employeeId">
                        <a [routerLink]="['/employee', separationApplication.employeeId, 'view']">{{separationApplication.employeeId}}</a>
                    </div>
                </dd>
                <dt><span>Functional Representative</span></dt>
                <dd>
                    <span *ngFor="let functionalRepresentative of separationApplication.functionalRepresentatives; let last = last">
                        <a [routerLink]="['/employee', functionalRepresentative?.id, 'view' ]">{{functionalRepresentative.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/separation-application', separationApplication.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
