<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-separation-application-heading">Create or edit a Separation Application</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!separationApplication.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                           [(ngModel)]="separationApplication.id" readonly/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateOfLeaving">Date Of Leaving</label>
                    <div class="d-flex">
                        <input id="field_dateOfLeaving" type="datetime-local" class="form-control" name="dateOfLeaving"
                               [(ngModel)]="dateOfLeaving"
                               required/>
                    </div>
                    <div
                        [hidden]="!(editForm.controls.dateOfLeaving?.dirty && editForm.controls.dateOfLeaving?.invalid)">
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.dateOfLeaving?.errors?.required">
                            This field is required.
                        </small>
                        <small class="form-text text-danger"
                               [hidden]="!editForm.controls.dateOfLeaving?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_dateOfSubmission">Date Of Submission</label>
                    <div class="d-flex">
                        <input id="field_dateOfSubmission" type="datetime-local" class="form-control"
                               name="dateOfSubmission" [(ngModel)]="dateOfSubmission" disabled/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_reasonForLeaving">Reason For Leaving</label>
                    <input type="text" class="form-control" name="reasonForLeaving" id="field_reasonForLeaving"
                        [(ngModel)]="separationApplication.reasonForLeaving" required/>
                    <div [hidden]="!(editForm.controls.reasonForLeaving?.dirty && editForm.controls.reasonForLeaving?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.reasonForLeaving?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_completed">Completed</label>
                    <input type="checkbox" class="form-control" name="completed" id="field_completed"
                        [(ngModel)]="separationApplication.completed" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_employee">Employee</label>
                    <select class="form-control" id="field_employee" name="employee" [(ngModel)]="separationApplication.employeeId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="employeeOption.id" *ngFor="let employeeOption of employees; trackBy: trackEmployeeById">{{employeeOption.name}}</option>
                    </select>
                </div>
            </div>
                <div *jhiHasAnyAuthority="'ROLE_FUNCTIONAL_REPRESENTATIVE'" class="form-group">
                    <label class="form-control-label" for="field_lineItem"></label>
                    <!-- <select class="form-control" id="field_lineItem" name="lineItem" [(ngModel)]="separationApplication.lineItem" ><option [ngValue]="null"></option></select>
                     -->
                        <div class="input-group-btn">
                            <button class="btn btn-success btn-block" type="button" [routerLink]="['/line-item/new']">
                                <span class="glyphicon glyphicon-ok"></span>Add Line Item
                            </button>
                        </div>
                    </div>
                    <ul class="list-group">
                        <li *ngFor="let lineItem of lineItems" class="list-group-item">
                            <span> {{ lineItem.feedback }} </span>
                        </li>
                    </ul>
                </div>
                <div class="form-group" *jhiHasAnyAuthority="'ROLE_HUMAN_RESOURCES'">
                    <label for="field_functionalRepresentative">Functional Representative</label>
                    <select class="form-control" id="field_functionalRepresentative" multiple name="functionalRepresentative" [(ngModel)]="separationApplication.functionalRepresentatives">
                        <option [ngValue]="getSelected(separationApplication.functionalRepresentatives, employeeOption)" *ngFor="let employeeOption of employees; trackBy: trackEmployeeById">{{employeeOption.name}}</option>
                    </select>
                </div>
                </select>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
