<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2" id="page-heading">
        <span>Separation Applications</span>
    </h1>
    <div class="btn-group mr-2">
        <button id="jh-create-entity" class="btn btn-primary btn-sm btn-outline-secondary jh-create-entity create-separation-application" [routerLink]="['/separation-application/new']">
            <i class="fas fa-plus"></i>
            <span>Create new Separation Application</span>
        </button>
        <button class="btn btn-sm btn-outline-secondary" *jhiHasAnyAuthority="'ROLE_ADMIN'">
            <i class="far fa-file"></i>
            <span>Export CSV</span>
        </button>
    </div>
</div>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="separationApplications">
        <table class="table table-striped">
        <table class="table table-striped" *ngIf="isPending()">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Date Of Leaving</span></th>
            <th><span>Date Of Submission</span></th>
            <th><span>Reason For Leaving</span></th>
            <th><span>Completed</span></th>
            <th><span>Employee</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let separationApplication of separationApplications ;trackBy: trackId">
                <td><a [routerLink]="['/separation-application', separationApplication.id, 'view' ]">{{separationApplication.id}}</a></td>
                <td>{{separationApplication.dateOfLeaving | date:'medium'}}</td>
                <td>{{separationApplication.dateOfSubmission | date:'medium'}}</td>
                <td>{{separationApplication.reasonForLeaving}}</td>
                <td>{{separationApplication.completed}}</td>
                <td>
                    <div *ngIf="separationApplication.employee">
                        <a [routerLink]="['../employee', separationApplication.employee?.id, 'view' ]" >{{separationApplication.employee?.user.firstName.concat(' ', separationApplication.employee?.user.lastName)}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="separationApplication.lineItem">
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/separation-application', separationApplication.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_FUNCTIONAL_REPRESENTATIVE']" type="submit"
                                [routerLink]="['/separation-application', separationApplication.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="submit"
                                [routerLink]="['/', { outlets: { popup: 'separation-application/'+ separationApplication.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
