<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="employee">
            <h2><span>Employee</span> {{employee.name}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Phone Number</span></dt>
                <dd>
                    <span>{{employee.phoneNumber}}</span>
                </dd>
                <dt><span>User</span></dt>
                <dd>
                    {{employee.login}}
                </dd>
                <dt><span>Department</span></dt>
                <dd>
                    <div *ngIf="employee.departmentId">
                        <a [routerLink]="['/department', employee.departmentId, 'view']">{{employee.departmentName}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button *jhiHasAnyAuthority="'ROLE_ADMIN'" type="button"
                    [routerLink]="['/employee', employee.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>

        </div>
    </div>
</div>
